<div class="container">
	<h1>Books</h1>
	<table class="table">
	<tr>
	<th></th>
	<th></th>
	<th>Title</th>
	<th>Opinion</th>
	<th></th>
	<th></th>
	<th>Comment</th>
	</tr>
	
	<% @posts.each do |post| %>
	<tr>
		<% if post.user.image? %>
    　	<td><%= image_tag post.user.image.url %></td>
  		<% else %>
    　	<td>noimage</td>
  		<% end %>
			<td><%= link_to post.user.name, user_path(post.user) %></td>
			<td><%= link_to post.title, post_path(post) %></td>
			<td><%= post.body %></td>
			<td><%= post.favorites.count %></td>
			  
			<td><div id="favorite-btn-<%= post.id %>"><%= render 'favorites/favorite', post: post %></div></td>
			<td><%= post.comments.count %></td> 
		<% end %>
	</tr>
	</table>
	<%= paginate @posts %>
</div>
